<h1>Restaurants</h1>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
    </li>
  <% end %>
</ul>
<div class="link">
  <%= link_to "Add restuarant", new_restaurant_path %>
</div>
